/*------ External Fonts ------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/*------ Page Wide Styling ------*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin-top: 30px;
}

a:link,
a:visited,
a:hover,
a:active {
	border: none;
	color: #f893ea;
	font-weight: 400;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.card--floatLeft {
	float: left;
}

.card--floatRight {
	float: right;
}

/*------ Card Structure Elements ------*/

[name="cardInput"] {
	display: none;
}

label {
	display: block;
}

.card {
	height: 375px;
	margin: 0 auto;
	max-width: 630px;
	position: relative;
	perspective: 1000px;
	-webkit-perspective: 1000px;
}

.card__front, 
.card__back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	border-radius: 2px;
	cursor: pointer;
	height: 100%;
	left: 0;
	padding: 30px;
	position: absolute;
	top: 0;
	transition: all 0.5s ease, -webkit-transform 0.5s;
	transition: transform 0.5s, all 0.5s ease, -webkit-transform 0.5s;
	transition: transform 0.5s, all 0.5s ease;
	-webkit-transition: all 0.5s ease, -webkit-transform 0.5s;
	width: 100%;
}

.card__front {
	background-color: linear-gradient(to bottom, #e650e0, #8f0de6);
	background-image: url(images/card-bg.jpg);
}

.card__back {
	background: #fff url(images/pic.jpg);
	color: #fff;
}

[name="cardInput"]:not(:checked) ~ label > .card .card__front {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

[name="cardInput"]:not(:checked) ~ label > .card .card__front:hover {
	box-shadow: 1px 20px 20px 5px rgba(51,51,51,.2);
	-webkit-transform: rotateX(15deg);
	transform: rotateX(15deg);
}

[name="cardInput"]:not(:checked) ~ label > .card .card__back {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}


[name="cardInput"]:checked ~ label > .card .card__front {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

[name="cardInput"]:checked ~ label > .card .card__back {
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

[name="cardInput"]:checked ~ label > .card .card__back:hover {
	box-shadow: 1px -20px 20px 5px rgba(51,51,51,.2);
	-webkit-transform: rotateX(-10deg);
	transform: rotateX(-10deg);
}

/*------ Card Front Header Elements ------*/

.card__h1, 
.card__h2 {
	font-weight: 300;
	text-shadow: 2px 10px 8px rgba(0,0,0,.2);
}

.card__h1 {
	font-size: 300%;
}

.card__h2 {
	font-size: 120%;
	font-weight: 400;
	letter-spacing: 1px;
}

.card--inlineblk {
	display: inline-block;
}

/*------ Card Front Section Elements ------*/

.card__section {
	font-size: 105%;
	line-height: 23px;
}

.card__sectionPara {
	margin-top: 23px;
}

.card__sectionTxt {
	margin-left: 25px;
}

/*------ Card Front Footer Elements ------*/

.card__footerFront {
	bottom: 30px;
	font-size: 105%;
	height: 46px;
	left: 0;
	padding: 0 30px;
	position: absolute;
	width: 100%;
}

.card__bookicon,
.card__socialicon {
	display: inline-block;
}

.card__socialicon {
	float: right;
}

.card__imgfront {
	margin-right: 10px;
}

.card__footerFrontTxt {
	margin-top: 3px;
}

.card__socialiconImg {
	margin-left: 15px;
	margin-top: 3px;
	-webkit-transition: all 0.5s ease, -webkit-transform 0.5s;
	transition: all 0.5s ease, -webkit-transform 0.5s;
	transition: transform 0.5s, all 0.5s ease;
	transition: transform 0.5s, all 0.5s ease, -webkit-transform 0.5s;
}

.card__socialiconImg:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}


/*------ Card Back Elements ------*/

.card__backPara {
	background: rgba(255,255,255,0.6);
	border-radius: 2px;
	bottom: 10px;
	color: #6f20d0;
	font-weight: 400;
	left: 10px;
	padding: 5px 10px;
	position: absolute;
}

/*------ Media Queries ------*/

@media (max-width: 600px) and (orientation: portrait) {

	body {
		font-size: 15px;
	}

	.card__front, 
	.card__back {
		padding: 20px;
	}

	.card__h1 {
		font-size: 230%;
	}

	.card__h2 {
		font-size: 100%;
	}

	.card__footerFront {
		bottom: 20px;
		padding: 0 20px;
	}

	.card__flipIcon {
		height: 19px;
		width: 30px;
	}

	.card__imgfront {
		height: 36px;
		width: 36px;
	}

	.card__socialiconImg {
		height: 28px;
		margin-left: 10px;
		width: 28px;
	}

	.card__socialiconImg:hover {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

}

@media (max-width: 360px) and (orientation: portrait) {

	body {
		font-size: 13px;
	}

	.card__front, .card__back {
		padding: 10px;
	}

	.card__h1 {
		font-size: 200%;
	}

	.card__sectionPara {
		line-height: 22px;
	}

	.card__sectionTxt {
		display: block;
		margin-left: 0;
	}

	.card__footerFront {
		bottom: 10px;
		padding: 0 10px;
	}

	.card__flipIcon {
		height: 16px;
		width: 24px;
	}

	.card__socialiconImg {
		height: 18px;
		margin-left: 3px;
		width: 18px;
	}

	.card__imgfront {
		height: 30px;
		width: 30px;
	}

}